.roomContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   height: 80vh;
   padding: 20px;
   background-color: #f5f5f5;
 }
 
 .leftPanel {
   flex: 2; 
   max-width: 100%; 
   margin-right: 20px;
   background-color: #f0f0f0; 
 }
 
 .rightPanel {
   flex: 1; 
   display: flex;
   flex-direction: column;
   height: 100%; 
 }
 
 .messagesContainer {
   flex: 1;
   overflow-y: auto;
   padding: 10px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
 }
 
 .message {
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   background-color: #e0f7fa;
   word-wrap: break-word;
 }
 
 .message.userMessage {
   background-color: #b2dfdb;
 }
 
 .inputContainer {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 10px;
 }
 
 .inputContainer input {
   flex: 1;
   padding: 10px;
   font-size: 1rem;
   border-radius: 5px;
   border: 1px solid #ccc;
   outline: none;
 }
 
 .inputContainer button {
   padding: 10px 20px;
   font-size: 1rem;
   background-color: #2196f3;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-transform: capitalize;
 }
 
 .inputContainer button:hover {
   background-color: #1e88e5;
 }

 .leaveButton {
   margin-top: 20px;
   background-color: #f44336;
   padding: 10px 20px;
 }
 