/* define common styles for app */

/* simple reset */
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
;}


/* global style */
* {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}


