.cheatsheet {
	position: absolute;
	background-color: aliceblue;
	border : black 1px solid;
	flex-direction: column;
	display : flex;
	padding : 5px;

}
.cheatsheetRow {
	display: flex;
	flex-direction: row;
	margin-right : 0;
	margin-left: auto;
	gap : 0px;
	width : fit-content;
	> div {
		font-size: 1vw;
	}
	> div.cell {
		display: flex;
		align-items: center; 
		justify-content: center; 
		aspect-ratio: 1;

		width: 1.5vw;
		text-align: center;
		position: relative; /* Allows positioning of the dot independently */
	}
}
.dot {
  border-radius: 50%;
	border: 1px solid black;
  display: block; /* Ensures proper sizing */
  width: 75%; /* Adjust size relative to the cell */
  height: 75%; /* Maintain circular shape */
  position: absolute; /* Position independently within the cell */
	align-content: center;
	font-size: 60%;
}


.teamInfo {
	display : flex;
	flex-direction: column;
	> div {
		display: flex;
		font-size: 1vw;
		align-items: center;
		> .cell {
			display: flex;
			align-items: center; 
			justify-content: center; 
			aspect-ratio: 1;
			width: 1vw;
			height: 1vw;
			text-align: center;
			position: relative; 
		}
	}
}
